<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @beer_club.name %>
</p>

<p>
  <strong>Founded:</strong>
  <%= @beer_club.founded %>
</p>

<p>
  <strong>City:</strong>
  <%= @beer_club.city %>
</p>

<h2>members</h2>
<ul>
<% @beer_club.memberships.each do |membership| %>
  <li><%= link_to membership.user.username, user_path(membership.user) %> <%= link_to 'delete membership', membership_path(membership), method: :delete %></li>
<% end %>
</ul>

<%= link_to 'Edit', edit_beer_club_path(@beer_club) if current_user%>
<br/>
<%= link_to 'Destroy the club', @beer_club, method: :delete, data: { confirm: 'Are you sure?' } %>