<p id="notice"><%= notice %></p>

<h1><%= @beer_club.name + " " + @beer_club.city %></h1>

<p>
  Founded in <%= @beer_club.founded %>
</p>

<ul>
<% @beer_club.memberships.each do |membership| %>
  <li><%= link_to membership.user.username, user_path(membership.user) %> <!--<%= link_to 'delete membership', membership_path(membership), method: :delete %>--></li>
<% end %>
</ul>

 <% if current_user %>
  <% @stored_membership = Membership.all.select{ |m| m.user_id == current_user.id and m.beer_club_id == @beer_club.id }.first %>
  <% if @stored_membership.nil? %>
    <%= form_for(@membership) do |f| %>
        <%= f.hidden_field :beer_club_id %>
        <%= f.submit value:"join the club" %>
    <% end %>
  <% else %>
    <%= form_for(@stored_membership, method: "delete") do |f| %>
      <%= f.hidden_field :beer_club_id %>
      <%= f.submit value: "end the membership" %>
    <% end %>
  <% end %>
 <% end %>

<%= link_to 'Edit', edit_beer_club_path(@beer_club) if current_user%>
<br/>
<%= link_to 'Destroy the club', @beer_club, method: :delete, data: { confirm: 'Are you sure?' } %>