<p id="notice"><%= notice %></p>

<h1>
  <%= @user.username %>
</h1>

<p>
  Has made <%= pluralize(@user.ratings.count, "rating") %>, average <%= @user.average_rating %>
</p>

<% if @user.ratings.count > 0 %><p>
  favorite style: <%= @user.favorite_style %>
  <br/>
  favorite brewery: <%= @user.favorite_brewery %>
</p><% end %>

<h2>member of the following</h2>
<p>
<% @user.memberships.each do |membership| %>
  <%= link_to membership.beer_club.name, beer_club_path(membership.beer_club) %> <%= link_to 'delete membership', membership_path(membership), method: :delete %><br/>
<% end %>
</p>

<h2>ratings</h2>
<ul>
<% @user.ratings.each do |rating| %>
  <li><%= rating %>
  <% if @user == current_user %>
    <%= link_to 'delete', rating_path(rating), method: :delete %></li>
  <% end %>
<% end %>
</ul>

<% if @user == current_user %>
  <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', users_path %>
