<p id="notice"><%= notice %></p>

<h1>
  <%= @style.name %>
</h1>

<p><%= @style.description %></p>

<h2>beers</h2>

<ul>
  <% @style.beers.all.each do |beer| %>
  	<li><%= link_to beer.name, beer %> by <%= link_to beer.brewery.name, beer.brewery %></li>
  <% end %>
</ul>

<% if current_user %>
  <%= link_to 'Destroy', @style, method: :delete, data: { confirm: 'Are you sure? This feature is still broken...' } %>
  <%= link_to 'Edit', edit_style_path(@style) %> |
<% end %>
<%= link_to 'Back', styles_path %>